History/*
*.udl
DB/MSSQL Components.sql
Footprints/History/*
Symbols/History/*
DB/altium_library/bin/*
DB/altium_library/obj/*
DB/altium_library/.vs/*
DB/*.accdb
*.user
Management/*
STEP/*.sldprt
STEP/*/*.sldprt
*-Copy.dblib
*.Zip
Celestial Altium Library*.DbLib
*_loc
Project Logs for */*
Project Outputs for */*
*.PrjPCBStructure
*.htm
*.LOG
*Preview
*viewstate
*.Dat
*.OutJob
PCB_Project/Project Outputs for PCB_Project/Design Rule Check - PCB5_GND.drc
PCB_Project/Project Outputs for PCB_Project/Design Rule Check - PCB5_GND.html
